<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.springstudy.book.vo.productVo" alias="productVo"/>
			<typeAlias type="com.springstudy.book.vo.cartVo" alias="cartVo"/>
	</typeAliases>
  
  <mappers>
      <mapper resource="/sqlmap/mapper/productVo-mapper.xml" />
      
  </mappers>
</configuration>