<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productVo">

	<select id="select_list" parameterType="hashMap"
		resultType="productVo">
		<![CDATA[
		  SELECT proNum, proName, proPrice, proDes, proImg, proDate, proImg, proThumbImg 
		FROM product
		where 1 = 1 
		]]>
		<if test="keyword != null and keyword != ''">
			and (proName like CONCAT('%',#{keyword},'%')
			or proDes like
			CONCAT('%',#{keyword},'%'))
		</if>
		order by proDate desc
	</select>

	<insert id="insert" parameterType="productVo">
		INSERT INTO product (proName,
		proPrice, proDes, proImg, proThumbImg)
		values(#{proName},#{proPrice},#{proDes},#{proImg},#{proThumbImg})
	</insert>

	<select id="select_detail" parameterType="productVo"
		resultType="productVo">
		<![CDATA[
			select proNum, proName, proPrice,proDes, proDate, proImg, proThumbImg
			from product 
			where proNum = #{proNum} 
		]]>
	</select>


	<select id="list_page" resultType="productVo">
	<![CDATA[
		SELECT proNum, proName, proPrice, proDes, proImg, proDate, proImg, proThumbImg
		from product
		where proNum > 0
		order by proNum desc , proDate desc
		limit #{page}, 10
	]]>
	</select>

	<select id="list_criteria" parameterType="hashMap"
		resultType="productVo">
	<![CDATA[
		select proNum, proName, proPrice, proDes, proImg, proDate, proImg, proThumbImg
		from product where proNum > 0
		order by proNum desc , proDate desc
		limit #{pageStart}, #{perPageNum}
	]]>
	</select>

	<select id="count_paging" resultType="int">
	<![CDATA[
		select count(proNum)
		from product
		where proNum > 0
	]]>
	</select>

	<select id="list_search" resultType="productVo">
	<![CDATA[
		select * from product where proNum > 0
	]]>
		<if test="searchType != null">
			<if test="searchType == 'N'.toString()"> and proName like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'D'.toString()"> and proDes like CONCAT('%',#{keyword},'%')</if>
		</if>
	<![CDATA[
		order by proNum desc , proDate desc
		limit #{pageStart},#{perPageNum}
	]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'N'.toString()"> and proName like CONCAT('%',#{keyword},'%')</if>
			<if test="searchType == 'D'.toString()"> and proDes like CONCAT('%',#{keyword},'%')</if>
		</if>
	</sql>

	<select id="list_search_count" resultType="int">
	<![CDATA[
		select count(proNum) from product where proNum > 0
	]]>
		<include refid="search"></include>
	</select>
	<!-- // -->
	<delete id="delete" parameterType="productVo">  
	    <![CDATA[  
	    delete from product  
	    where  
	    proNum = #{proNum}  
	    ]]>
	</delete>

	<update id="update" parameterType="productVo">  
    <![CDATA[  
        update product set  
        proName = #{proName},  
        proPrice = #{proPrice},  
        proDes = #{proDes},
        proImg = #{proImg},
        proThumbImg = #{proThumbImg}
        where  
        proNum = #{proNum}  
	    ]]>
	</update>


	<insert id="addCartSql" parameterType="cartVo">
		<![CDATA[
		INSERT INTO cart (memId, proNum, cartStock, state)
		values(DEFAULT, #{proNum}, DEFAULT, DEFAULT)
		]]>
	</insert> 

		<select id="findCartPro" resultType="String" parameterType="cartVo">
		select decode(count(*), 0, 'false', 'true') from cart
		where proNum = #{proNum}
		and memId = #{memId} 
	</select>


	<insert id="addProCartVoPost">
		INSERT INTO cart (cartNum, memId, proNum) 
		VALUES (SELECT NVL2(MAX(cartId), MAX(cartId)+1, 1) FROM cart , #{memId}, #{proNum})
		<selectKey keyProperty="cartId" resultType="integer" order="AFTER">
			SELECT MAX(cartNum) FROM cartNum
		</selectKey>
	</insert>


	
</mapper>     